.studentProblemContainer {
    display: flex;
    flex-direction: row;
}

.studentProblemList {
    margin: 12px auto;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

.problemInfoView {
    width: 100%;
}