
.problemInfoCard {
    background-color: lightblue;
    padding: 8px;
    border-radius: 14px;
    margin: 12px 12px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
}

.tags {
    color: grey;
}

.problemInfoName {
    padding: 8px 8px;
    width: 100%;
}

.problemInfoDetails {
    padding: 8px 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.problemInfoDetailsTop {
}
.problemInfoDetailsBottom {
    display: flex;
}

.infoBtn {
    border-radius: 12px;
    padding: 6px 10px;
    background-color: aliceblue;
    margin-left: 12px;
    font-size: large;
}

.addProblemBtn {
    border-radius: 12px;
    padding: 6px 10px;
    background-color: lightgreen;
    color: grey;
    margin-left: 12px;
    font-size: large;
}

.problemInfoDetailsBottom>button:hover {
    transform: scale(1.05);
    animation-delay: 1.8s;
}