
.problemInfoCard {
    background-color: lightblue;
    padding: 8px;
    border-radius: 14px;
    margin: 12px 12px;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.tags {
    color: grey;
}

.problemInfoName {
    padding: 8px 8px;
}

.problemInfoDetails {
    padding: 8px 8px;

} 